*{
  margin:0;
  padding:0;
  font-family: 'Roboto';
  min-width: 1px;
}

h1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;

}
h2{
  font-size: 32px;
}
h3{
  font-size: 21px;
  color:white;
  margin-bottom: 10px;
  font-weight: 500;
}
p{
  font-size: 16px;
}
.btn{
  width: 225px;
  height: 65px;
  background-color: #34547A;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
}
.pharagraph{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  max-width: 540px;
  text-align: center;
  color: #727272;
  margin-top: 50px;
  margin-bottom: 50px;
  }
.page-header{
  background-color: #EEEFF1;
}
  .header-menu{
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: auto;
    padding: 57px 4px;
  }
    .header-menu__logo{
      display: flex;
      font-family: 'Revalia';
      text-decoration: none;
      font-weight: 400;
      line-height: 18px;
      font-size: 48px;
      color: #34547A;
      margin-left: 20px;
    }
    .margin-none{
      margin-right: 1px;
    }
        .header-menu__link{
          text-decoration: none;
          color: black;
          font-weight: 500;
          font-size: 16px;
          line-height: 39px;
          letter-spacing: 0.1em;
          margin-right: 45px;
        }
        .header-menu__link:hover{
          text-decoration: underline;
        }
        .header-menu__link--selected{
          color: #34547A;
        }

.design-section__container{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 146px;
    background-color: #EEEFF1;
}

  .design-section__content-wrapper{
      display: flex;
      max-width: 1150px;
      margin: auto;
      justify-content: space-between;
      gap: 154px;
  }

  .design-section__laptop-img{
      max-width: 357px;
      max-height: 233px;
      margin-top: 39px;
  }

  .design-section__text-container{
      display: block;
  }

  .design-section__text{
      text-align: left;
  }

  .about-me-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 119px;
      padding-bottom: 100px;
  }
.projects-section__container{
    background-color: #34547A;
    color: #EEEFF1;
    display: flex;
    justify-content: center;

    }
    .projects-section__content-wrapper{
      display: flex;
      margin-top: 100px;
      margin-bottom: 100px;
      justify-content: space-between;
      width: 1150px;
      padding-left: 19px;
      padding-right: 19px;
      gap: 52px;
      flex-wrap: wrap;
    }
    .projects-section__block{
      display:flex;
    }
    .projects-section__icon{
      width:46px;
      height:50px;
    }
    .projects-section__text{
      margin-left: 20px;
    }

    .skills-section__container{

      margin: 102px 20px 102px 20px;
    }
    .skills-section__content-wrapper{
      display: flex;
      justify-content: space-between;
      max-width: 1150px;
      margin-right: auto;
      margin-left: auto;
      flex-wrap: wrap-reverse;
    }
    .skills-section__tehnology-block{
      display: flex;
      flex-direction: column;
      width: 450px;
      align-items: stretch;
      margin-top: 102px;
    }
    .skills-section__text{
      margin-top: 29px;
      margin-bottom: 19px;
    }
    .skills-section__level{
      max-width: 445px;
      height: 4px;
    }
  
    .skills-section__level--gray{
      background-color: #C4C4C5;
    }
    .skills-section__level--blue{
      width: 80%;
      background-color: #34547A;
      margin-top: -4px;
    }
    .skills-section__me-img{
      max-height:450px;
      max-width: 555px;
    }
    .work-section{
      background-color: #EEEFF1;
      padding-top: 100px;
      padding-bottom: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .work-section__img-conntainer{
      max-width: 1110px;
      max-height: 600px;
      position: relative;
      padding: 20px;
      cursor: pointer;
    }
    .work-section__code-img{
      position: relative;
      z-index: 0;
      max-width: 100%;
      max-height: 100%;
    }
    .work-section__play-img{
      z-index: 1;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 75px;
    }
    .pictures-section__container{
      margin-top: 28px;
      margin-bottom: 28px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .pictures-section__content-wrapper{
      display: flex;
      position: relative;
      flex: 0 0 25%;
    }
    .pictures-section__element{
      width: 100%;
      object-fit: contain;
    }
  
    .pictures-section__element:hover +.pictures-section__element-wrapper{
      cursor: pointer;
      display: block;
      
    }
    .pictures-section__element-eye{
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100px;
      height: 57px;
    }
    .pictures-section__element-wrapper:hover{
      display: block;
      cursor: pointer;
    }

    .pictures-section__element-wrapper{
      display:none;
      width: 100%;
      object-fit: contain;
      background-color: rgba(52, 84, 122, 0.8);
      margin-left: -100%;
    }
    .connection-section__container{
      display: flex;
      padding-top: 100px;
      padding-bottom: 100px;
      flex-direction: row;
      justify-content: center;
      background-color: #EEEFF1;
    }
    .connection-section__content-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px 20px 0px 20px;
    }
  
    .connection-section__form{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .connection-section__form-header{
      width: 540px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .connection-section__form-header-element{
      height: 50px;
      width: 238px;
      padding-left: 20px;
      margin-bottom: 20px;
      border:none;
    }
    .connection-section__message{
      width: 520px;
      height: 175px;
      margin-bottom: 50px;
      padding-left: 20px;
      padding-top: 20px;
      resize: none;
      border: none;
    }
    .page-footer{
      padding-top: 50px;
      padding-bottom: 50px;
      min-height: 50px;
      background-color: #34547A;
      flex-wrap: wrap;
      padding-left: 90px;
      padding-right: 90px;
    }
    .footer__content-wrapper{
      max-width: 1150px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: auto;
      flex-wrap: wrap;
    }
    .footer-container__text{
      color: white;
      font-size: 12px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .footer__social{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    }
    .footer-social__icon{
      margin-right: 21px;
      margin-top: -8px;
    }
    .footer-social__icon--border-none{
      margin-top: -8px;

    }
    
    @media(max-width:1118px){
      .projects-section__content-wrapper{
        gap: 80px;
        width: 771px;
      }
    }

    @media(max-width:719px){
      .projects-section__content-wrapper{
        gap: 45px;
        width: 343px;
      }
    }

    @media (max-width:1044px){
      .skills-section__content-wrapper{
        justify-content: center;
      }
      .skills h2{
        text-align: center;
      }
      .skills-section__tehnology-block{
        margin-top: 98px;
      }
      
    }

    @media (max-width:1046px){
      h1{
        font-size: 36px;
      }
      .design-section__container{
        flex-direction: column;
        align-items: center;
      }
      .design-section__content-wrapper{
        display: flex;
        max-width: 1150px;
        margin: auto;
        gap: 51px;
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
      .design-section__text-container{
        margin-top: 60px;
        margin-left: 0px;
        text-align:center ;
      }
      .design-section__text{
        text-align: center;
      }
      .design-section__laptop-img{
        width: 298px;
        height: 195px;
      }
      .pharagraph{
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    @media (max-width:718px){
      .pictures-section__content-wrapper{
        flex: 0 0 50%;
      }
      .picture-3{
        order:2;
      }
      .picture-4{
        order:1;
      }
      .picture-5{
        order: 4;
      }   
      .picture-6{
        order:3;
      }
      .picture-7{
        order:5;
      }
      .picture-8{
        order: 5;
      }

    }
    @media (max-width:799px){
      .header__menu{
        width: 0;
        margin: 0;
      }
      .header-menu__list{
        display: none;
        }
      }
    @media (max-width:555px){
      .footer-container__text {
      margin-bottom: 40px;
      }
      .footer__content-wrapper {
        justify-content: center;

    }
    }
      @media (max-width:581px){
        .connection-section__form-header {
          width: 342px;
        }
        .connection-section__form-header-element{
          width:  100%;
        }
        .connection-section__message {
          width: 320px;
        }
      }
     


